h2 {
  text-align: center;
  margin: 0px;
}

#user-video {
  width: 520px;
  height: 390px;
  display: block;
  box-shadow: 3px 5px 25px #000;
}

#c1 {
  width: 520px;
  height: 390px;
  display: block;
  box-shadow: 3px 5px 25px #000;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.video-wrapper div {
  float: left;
  margin: 10px;
}


.clear {
  clear: both;
}

#editor-wrapper {
  width: 1075px;
}

#editor { 
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 18px;
}

#status {
  text-align: center;
  background-color: #C6D880;
  color: #264409;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 0px;
  width: 1075px;
  font-size: 24px;
}

#image-div img {
  margin: 10px;
}


